.ingreso_container {
  display: flex;
  padding-top: 20px;
}

.form-fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

input[type="text"] {
  width: 300px;
  padding: .5rem 1rem;
  border: 1px solid #000;
  border-radius: 10px;
}
input {
  margin-top: 2rem;
}

.layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

label.checkbox {
  font-weight: normal;
}

button[type="submit"] {
  margin-top: 1rem;
}

.error {
  font-size: 12px;
  color: #e53e3e;
  margin-top: 0.25rem;
}

.input_error {
  border-color: #e53e3e;
}

.ingreso-div{
  border: 1px solid #000;
  padding: 1em;
  margin-bottom: 10px;
}

.titleIngresos {
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.radio-group {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}